.container {
    display: flex;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
}

.grid div {
    width: 40px;
    height: 40px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: 20px;
}

.destroyer-container {
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 20px;
    display: flex;
}

.destroyer-container-vertical {
    width: 40px;
    height: 80px;
    background-color: orange;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.destroyer {
    background-color: orange;
}

.submarine-container {
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 20px;
    display: flex;
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.submarine {
    background-color: pink;
}

.battleship-container {
    width: 160px;
    height: 40px;
    background-color: aqua;
    margin: 20px;
    display: flex;
}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    background-color: aqua;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.battleship {
    background-color: aqua;
}

.carrier-container {
    width: 200px;
    height: 40px;
    background-color: green;
    margin: 20px;
    display: flex;
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    background-color: green;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.carrier {
    background-color: green;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    background-color: purple;
    margin: 20px;
    display: flex;
}

.cruiser-container-vertical {
    width: 40px;
    height: 120px;
    background-color: purple;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser {
    background-color: purple;
}

.ship div {
    width: 40px;
    height: 40px;
}

.boom {
    background-color: red;
}

.miss {
    background-color: black;
}

.connected, .ready{
    font-weight: normal;
}

.connected span, .ready span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: red;
}

span.green {
    background: green;
}